body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Styles untuk header */
header {
    background-color: #e0a149;
    color: #000000;
    padding: 50px;
  }
  
  /* Styles untuk navigasi */
  nav {
    background-color: #ddb379;
    padding: 20px;
  }
  
  /* Styles untuk container */
  .container {
    display: flex;
    flex-wrap: unset;
  }
  
  /* Styles untuk sidebar */
  aside {
    float: left;
    flex-basis: 15%;
    background-color: #e3f887;
    padding: 100px;
  }
  
  /* Styles untuk konten */
  main {
    float: right;
    flex-basis: 85%;
    background-color: #d8f45e;
    padding: 100px;
  }
  
  /* Styles untuk footer */
  footer {
    background-color: #a03535;
    color: #fff;
    padding: 50px;
  }
  